
NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://fbe5878fd7bf1f09d8e6e1f76e79f1ffa496e054c617e7231cefe975fab4aeef:sk_a8MwwdJy48uO5dso8OYTN@db.prisma.io:5432/postgres?sslmode=require

JWT_SECRET= abusaiyed
JWT_EXPIRESIN= 1d

BCRYPT_SALT_ROUND=12

CLOUD_NAME=dgq8rhewp
API_KEY=212712166356936
API_SECRET=mRFQ0ovfStkx7UATgUQ5mh5QVKA